NOTIFICATIONAPI_CLIENT_ID=your_client_id_here
NOTIFICATIONAPI_CLIENT_SECRET=your_client_secret_here
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/dbname?retryWrites=true&w=majority
MONGO_DB_NAME=crime_dashboard
MONGO_COLLECTION_NAME=users
